dl {
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    margin: 0;
  }
  dt {
    float: left;
    width: auto;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0.5rem;
    margin: 0.75rem;
  }
  dd {
    float: left;
    width: auto;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0.5rem;
    margin: 0.75rem;
  }