{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block body %}
<br>
<form method=post class="content container" enctype="multipart/form-data">
    <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.icon) }}
        {{ render_field(form.position) }}
        {{ render_field(form.description) }}
        {{ render_field(form.major) }}
        {{ render_field(form.year) }}
    </dl>
    <p><input type=submit value="Add Leader" class="button">
</form>

{% endblock %}
