<!doctype html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="../static/fmalogo.jpg">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/application.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="screen" href="static/base.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% block head %}
    <title>Base</title>
    {% endblock %}
</head>

<body>
    <div class="market-data-bar" style="background-color: black">
        <div class="market-data">
            <div class="ticker">
                <span class='data' style="color:white">DOW</span>
            </div>
            <div class="change">
                <span class='data' id="dow-chng" style="color:green">---</span>
            </div>
        </div>
        <div class="market-data">
            <div class="ticker">
                <span class='data' style="color:white">NASDQ</span>
            </div>
            <div class="change">
                <span class='data' id="nas-chng" style="color:red">---</span>
            </div>
        </div>
        <div class="market-data">
            <div class="ticker">
                <span class='data' style="color:white">S&P500</span>
            </div>
            <div class="change">
                <span class='data' id="sp-chng" style="color:green">---</span>
            </div>
        </div>
        <div class="market-data">
            <div class="ticker">
                <span class='data' style="color:white">DAX</span>
            </div>
            <div class="change">
                <span class='data' style="color:green">0.72%</span>
            </div>
        </div>
        <div class="market-data">
            <div class="ticker">
                <span class='data' style="color:white">SMI</span>
            </div>
            <div class="change">
                <span class='data' style="color:red">-5.62%</span>
            </div>
        </div>
    </div>
    <div class='header'>
        <div class="item" style="width: 10%; float:left;">
            <img src="../static/fmalogo_alpha.png" alt="" width="150rem" height="150rem">
        </div>
        <div class="item" id="fma-name" style="width: 80%; float:left; padding: 2rem;">
            <h1>Financial Management Association</h1>
        </div>
        <div class="item" id=portfolio style="width: 10%; float:left;">
            <h5 style="padding-top:1rem; color: black;">Portfolio Value</h5>
            <div style="background-color: white;">
                <div id="portfolio-val" style="color: black">
                    <h5>149,538.49</h5>
                </div>
                <div id="portfolio-ch" style="color: green; display: inline-block;">
                    <div style="display: inline-block;"><i class="material-icons" style="font-size: 2rem">trending_up</i><div style="font-size: 1.5rem;display: inline-block;">+ 0.56%</div></div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg" style="background-color: black; width:100%">
            <div class="container" style="float: left;">
                    <a class="nav-link" href="{{url_for('home')}}"><span>Home</span></a>
                    <a class="nav-link" href="{{url_for('about')}}"><span>About</span></a>
                    <a class="nav-link" href="{{url_for('portfolio')}}"><span>Portfolio</span></a>
                    <a class="nav-link" href="#"><span>Log In</span></a>
            </div>
    </nav>
    {% block body %}
    <h1 style="text-align: center">Base</h1>
    {% endblock %}
</body>

</html>