{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<link rel="stylesheet" href="../static/home.css">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Equity Chart</h5>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Asset Chart</h5>
                <canvas id="assetChart"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col justify-content-center">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Year to Date Comparison</h5>
                <div class='data' style="margin:auto">
                    <canvas id="linechartdf" width="300" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div hidden id=equity_labels>
        {{ equity_data['labels'] }}
    </div>
    <div hidden id=equity_data>
        {{ equity_data['data'] }}
    </div>
    <div hidden id=asset_labels>
        {{ asset_data['labels'] }}
    </div>
    <div hidden id=asset_data>
        {{ asset_data['data'] }}
    </div>
    <div hidden id='sp500'>
        {{ line_data['sp500']}}
    </div>
    <div hidden id='totals'>
        {{ line_data['totals']}}
    </div>
    <div hidden id='dates'>
        {{ line_data['dates']}}
    </div>
</footer>

<script>
    var equity_labels = document.getElementById('equity_labels').textContent;
    equity_labels = equity_labels.replace(/'/g, '"');
    equity_labels = JSON.parse(equity_labels);
    var equity_data = document.getElementById('equity_data').textContent;
    equity_data = equity_data.replace(/'/g, '"');
    equity_data = JSON.parse(equity_data);
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: equity_labels,
            datasets: [{
                data: equity_data,
                backgroundColor: [
                    'rgb(242,140,48,1)',
                    'rgb(51,102,204,1)',
                    'rgb(220,57,18,1)',
                    'rgb(255, 153, 0, 1)',
                    'rgb(16, 150, 24, 1)',
                    'rgb(153, 0, 153, 1)',
                    'rgb(221, 68, 119, 1)',
                    'rgb(102, 170, 0, 1)',
                    'rgb(184, 46, 46, 1)'],
                borderWidth: 1
            }]
        }
    });
</script>
<script>
    var asset_labels = document.getElementById('asset_labels').textContent;
    asset_labels = asset_labels.replace(/'/g, '"');
    asset_labels = JSON.parse(asset_labels);
    var asset_data = document.getElementById('asset_data').textContent;
    asset_data = asset_data.replace(/'/g, '"');
    asset_data = JSON.parse(asset_data);
    var ctx = document.getElementById('assetChart');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: asset_labels,
            datasets: [{
                data: asset_data,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        }
    });
</script>

<script>
    var sp500 = document.getElementById('sp500').textContent;
    sp500 = sp500.replace(/'/g, '"');
    sp500 = JSON.parse(sp500);
    var totals = document.getElementById('totals').textContent;
    totals = totals.replace(/'/g, '"');
    totals = JSON.parse(totals);
    var dates = document.getElementById('dates').textContent;
    dates = dates.replace(/'/g, '"');
    dates = JSON.parse(dates);
    new Chart(document.getElementById("linechartdf"), {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                data: sp500,
                label: "S&P 500",
                borderColor: "#3e95cd",
                fill: false
            }, {
                data: totals,
                label: "FMA Portfolio",
                borderColor: "#3cba9f",
                fill: false
            }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 1
                    }
                }]
            }
        }
    });
</script>

{% endblock %}