{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<title>Porfolio</title>
<link rel="stylesheet" href="../static/portfolio.css">
{% endblock %}

{% block body %}
<div class="card-deck row">
    <div class="card col-md-9" style="margin-left:4rem; margin-right:2rem; margin-top: 2rem;">
        <h5 class="card-title">Portfolio Value</h5>
        <div class="card-body">
            <button id="1" type="button">1 Week</button>
            <button id="2" type="button">1 Month</button>
            <button id="3" type="button">1 Year</button>
            <canvas id="forecast" width="300" height="150"></canvas>
        </div>
    </div>
    <div class="card col-md-3" style="margin-right:4rem; margin-top: 2rem;">
        <h5><a href="{{url_for('rawdata')}}">Raw Data</a></h5>
        <!--<h5>Ratios</h5>
        <p class="card-text">Sharpe Ratio: 107%
            </br>Sortino Ratio: 105%
        </p>-->
        <h5>Top Performers</h5>
        <ol>
            {% for stock in top_per %}
            {% if stock.chg > 0 %}
            <li>{{stock.name}}: <span style="color: green;">{{stock.chg}}%</span></li>
            {% else %}
            <li>{{stock.name}}: <span style="color: red;">{{stock.chg}}%</span></li>
            {% endif %}
            {% endfor %}
        </ol>
        <h5>Bottom Performers</h5>
        <ol>
            {% for stock in low_per %}
            {% if stock.chg > 0 %}
            <li>{{stock.name}}: <span style="color: green;">{{stock.chg}}%</span></li>
            {% else %}
            <li>{{stock.name}}: <span style="color: red;">{{stock.chg}}%</span></li>
            {% endif %}
            {% endfor %}
        </ol>
        {% if current_user.is_anonymous %}
        {% else %}
        <div>
            <h5>Admin Forms</h5>
            <ul>
                <li><a href="{{url_for('new_stocks')}}">New Stocks</a></li>
                <li><a href="{{url_for('update_stocks')}}">Update Stocks</a></lli>
                <li><a href="{{url_for('delete_stocks')}}">Delete Stocks</a></li>
                <li><a  href="{{url_for('add_leaders')}}">Add Leadership</a></li>
                <li><a  href="{{url_for('manage_leaders')}}">Manage Leadership</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>
<footer>
    <div id='labels' hidden>
        {%- for i in history -%}
        {{- i.date -}}
        {%- if history|length != loop.index -%}
        ,
        {%- endif -%}
        {%- endfor -%}
    </div>
    <div id='data' hidden>
        {%- for i in history -%}
        {{- i.total -}}
        {%- if history|length != loop.index -%}
        ,
        {%- endif -%}
        {%- endfor -%}
    </div>
</footer>

<script>
    var labels = document.getElementById('labels').textContent;
    labels = labels.replace(/'/g, '"');
    labels = labels.split(',')
    var data = document.getElementById('data').textContent;
    data = data.replace(/'/g, '"');
    data = data.split(',')
    var total_data = data
    var total_labels = labels
    var chart_labels = total_labels.slice(0,8).reverse();
    var port_dataset = total_data.slice(0,8).reverse();
    var ctx = document.getElementById("forecast").getContext('2d');
    var config = {
        type: 'bar',
        data: {
            labels: chart_labels,
            datasets: [{
                type: 'line',
                label: "Portfolio Value",
                yAxisID: "y-axis-0",
                fill: true,
                data: port_dataset,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    position: "left",
                    "id": "y-axis-0",
                }]
            }
        }
    };
    var forecast_chart = new Chart(ctx, config);
    $("#1").click(function () {
        var data = forecast_chart.config.data;
        data.datasets[0].data = port_dataset;
        data.labels = chart_labels;
        forecast_chart.update();
    });
    $("#2").click(function () {
        var chart_labels = total_labels.slice(0,31).reverse();
        var port_dataset = total_data.slice(0,31).reverse();
        var data = forecast_chart.config.data;
        data.datasets[0].data = port_dataset;
        data.labels = chart_labels;
        forecast_chart.update();
    });
    $("#3").click(function () {
        var chart_labels = total_labels.slice(0,366).reverse();
        var port_dataset = total_data.slice(0,366).reverse();
        var data = forecast_chart.config.data;
        data.datasets[0].data = port_dataset;
        data.labels = chart_labels;
        forecast_chart.update();
    });
</script>
{% endblock %}