{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<title>Porfolio</title>
<link rel="stylesheet" href="../static/portfolio.css">
{% endblock %}

{% block body %}
<div class="row" style="margin:2rem;">
    <div class="col-sm-6">
        <div class="card w-70">
            <div class="card-body">
                <h5 class="card-title">Portfolio Value</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card w-20">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p>
                    <a class="nav-link" href="{{url_for('rawdata')}}">Raw Data</a>
                    Admin Buttons
                    <ul>
                        <li>Update</li>
                        <li>Delete</li>
                        <li>Add</li>
                    </ul>

                </p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin:2rem;">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Portfolio Breakdown</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Stats</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}