{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<title>Porfolio Raw Data</title>
{% endblock %}

{% block body %}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-sm" style="margin:2rem;">
        <thead class="thead-dark">
            <tr>
                <th scope=”col”>SECTOR</th>
                <th scope=”col”>TICKER</th>
                <th scope=”col”># SHARES</th>
                <th scope="col">COST PRICE</th>
                <th scope="col">TOTAL COST</th>
                <th scope="col">% COST</th>
                <th scope="col">CURR PRICE</th>
                <th scope="col">MKT. VALUE</th>
                <th scope="col">WEIGHT</th>
                <th scope="col">$ GAIN</th>
                <th scope="col">TOTAL $ GAIN</th>
                <th scope="col">% GAIN</th>
                <th scope="col">ANN. DIV</th>
                <th scope="col">CURR. YIELD</th>
                <th scope="col">YIELD ON COST</th>
                <th scope="col">ANN. INCOME</th>
                <th scope="col">PRICE CHANGE</th>
                <th scope="col">INDEX</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <th scope="row">{{ stock.sector }}</th>
                <td>{{ stock.name }}</td>
                <td>{{ stock.quantity }}</td>
                <td>${{ stock.cost }}</td>
                <td>${{ stock.cost * stock.quantity }}</td>
                <td>{{ stock.per_cost }}%</td>
                <td>${{ stock.cur_cost }}</td>
                <td>${{ stock.cur_cost*stock.quantity }}</td>
                <td>{{ stock.weight }}%</td>
                {% if stock.cur_cost-stock.cost > 0 %}
                    <td style="color: green;">${{ stock.cur_cost-stock.cost }}</td>
                {% else %}
                    <td style="color: red;">${{ stock.cur_cost-stock.cost }}</td>
                {% endif %}
                {% if stock.cur_cost-stock.cost > 0 %}
                    <td style="color: green;">${{ (stock.cur_cost-stock.cost)*stock.quantity }}</td>
                {% else %}
                    <td style="color: red;">${{ (stock.cur_cost-stock.cost)*stock.quantity }}</td>
                {% endif %}
                {% if stock.cur_cost-stock.cost > 0 %}
                    <td style="color: green;">{{ stock.per_gain }}%</td>
                {% else %}
                    <td style="color: red;">{{ stock.per_gain }}%</td>
                {% endif %}
                <td>${{ stock.dividend }}</td>
                <td>{{ stock.cur_yeild }}%</td>
                <td>{{ stock.yd_cost }}%</td>
                <td>${{ stock.ann_inc }}</td>
                {% if stock.price_chg > 0 %}
                    <td style="color: green;">{{ stock.price_chg }}%</td>
                {% else %}
                    <td style="color: red;">{{ stock.price_chg }}%</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
.</div>
{% endblock %}